@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap');
#deleteCol {
    color: rgb(172, 0, 0);
}

body,
span {
    font-family: 'Alegreya SC', serif;
}

img {
    max-width: 150px;
}

input::placeholder,
option {
    font-size: 13pt;
}

#table {
    display: none;
}